@model Latt_Library.Models.Lending

@{
    ViewData["Title"] = "Complete";
}

<h1>Complete</h1>

<h4>Lending</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Complete">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="BookLenderId" />
            
            <input type="hidden" asp-for="BookId" />
            
            <input type="hidden" asp-for="DateBegin" />
           
            
            <input type="hidden" asp-for="DateEnd" />
            
            <div class="form-group">
                <label asp-for="DateCompleted" class="control-label"></label>
                <input asp-for="DateCompleted" class="form-control" />
                <span asp-validation-for="DateCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="LendBookIndex">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
