@model Latt_Library.Models.BookModelViewModel

@{
    ViewData["Title"] = "BorrowBook";
}

<h1>BorrowBook</h1>



   


<form asp-controller="books" asp-action="BorrowBook" method="get">
    <p>
        
        <label for="SearchString">Name:</label>
        <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <a asp-controller="BookLenders" asp-action="LenderBorrowBook">Borrow</a> |

                </td>
            </tr>
        }
    </tbody>
</table>
